* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ;
}

.cardHighlight {
    min-height: 100%;
}

.subtitle {
    font-weight: bolder;
    font-size: large;
}


.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}


.nav-link {
  font-color: blue;
}

.navBar {
  background-color: lightgrey;
}




